<ion-header>
  <ion-navbar>
    <ion-title>Explore</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item no-lines *ngFor="let item of items | async" (click)="viewDetails(item)">
      <ion-thumbnail item-start>
        <img class="thumbnail-img" *ngIf="item.profilePic" [src]="item.profilePic">
        <img class="thumbnail-img" *ngIf="!item.profilePic" src="assets/imgs/menu.jpg">
      </ion-thumbnail>
      <div>
        <p class="mess-name">{{ item.messName }}</p>
        <p *ngIf="item.address">
          {{ item.address.address }}<span *ngIf="item.address.address">,</span>
          {{ item.address.city }}
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
