<ion-header no-border>
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-2>
      </ion-col>
      <ion-col text-center col-8>
        <h4 *ngIf="!navParams.get('isEditable')">Add Address</h4>
        <h4 *ngIf="navParams.get('isEditable')">Edit Address</h4>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="closeModal()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="sample-modal-page">
  <form #addressForm="ngForm">
    <ion-label>Label (e.g. Home, Office, etc.)</ion-label>
    <ion-item>
      <ion-input name="label" [(ngModel)]="label" type="text" required></ion-input>
    </ion-item>
    <ion-label>Address</ion-label>
    <ion-item>
      <ion-textarea fz-elastic name="address" [(ngModel)]="address" type="text" required></ion-textarea>
    </ion-item>
    <ion-label>City</ion-label>
    <ion-item>
      <ion-input name="city" [(ngModel)]="city" type="text" required></ion-input>
    </ion-item>
    <ion-label>Pincode</ion-label>
    <ion-item>
      <ion-input name="pincode" [(ngModel)]="pincode" type="tel" maxlength="6"></ion-input>
    </ion-item>
    <div class="btn">
      <button ion-button block *ngIf="!navParams.get('isEditable')" [disabled]="!addressForm.valid" (click)="save()">Save</button>
      <button ion-button block *ngIf="navParams.get('isEditable')" [disabled]="!addressForm.valid" (click)="update()">Update</button>
    </div>
  </form>
</ion-content>
