<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!personalFlag">
    <div class="container">
      <ion-item no-lines>
        <ion-avatar (click)="openProfileModal()">
          <img [src]="photoURL">
        </ion-avatar>
      </ion-item>
      <div class="item-container">
        <div class="item-label">Full Name</div>
        <div class="item-data">{{ userName }}</div>
      </div>
      <div class="item-container">
        <div class="item-label">Email</div>
        <div class="item-data">{{ email }}</div>
      </div>
      <div class="item-container">
        <div class="item-label">Contact Number</div>
        <div class="item-data">{{ contact }}</div>
      </div>
      <div class="item-container">
        <div class="item-label">Address</div>
        <ion-grid>
          <ion-row align-items-center *ngFor="let addr of address" (click)="expandItem(addr)">
            <ion-col align-self-center col-1>
              <ion-icon *ngIf="!addr.expanded" class="removeIcon" name="arrow-dropright"></ion-icon>
              <ion-icon *ngIf="addr.expanded" class="removeIcon" name="arrow-dropdown"></ion-icon>
            </ion-col>
            <ion-col align-self-stretch col-11>
              <div class="item-data" style="color:grey;">{{ addr.label }} <ion-icon name="checkmark-circle" class="defaultAddress" *ngIf="defaultAddress == addr.label"></ion-icon></div>
              <address-accordion-list [expandHeight]="auto" [expanded]="addr.expanded">
                <div *ngIf="addr.expanded" class="address-data">{{ addr.address }}<p style="display:inline" *ngIf="addr.city">,</p> {{ addr.city }}<p style="display:inline" *ngIf="addr.pincode">-</p>{{ addr.pincode }}</div>
              </address-accordion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="button-container">
      <button ion-button block (click)="editPersonal()">Edit</button>
    </div>
  </div>

  <ion-list inset *ngIf="personalFlag">
    <form #personalUpdate="ngForm">
      <ion-label stacked>Full Name</ion-label>
      <ion-item no-lines>
        <ion-input name="userName" [(ngModel)]="userName" type="text" value="{{ userName }}" required></ion-input>
      </ion-item>
      <ion-label stacked>Contact</ion-label>
      <ion-item no-lines>
        <ion-input name="contact" [(ngModel)]="contact" type="number" maxlength="10" minlength="10" value="{{ contact }}"  required></ion-input>
      </ion-item>

      <div class="address-list">
        <div>
          <p class="address-list-label">Address</p>
          <ion-icon class="addIcon" color="primary" name="add-circle"  (click)="addAddressModal()"></ion-icon>
        </div>
        <ion-grid>
          <ion-row align-items-center *ngFor="let addr of address">
            <ion-col col-8>
              <div class="item-data"><div style="color:grey;">{{ addr.label }} <ion-icon name="checkmark-circle" class="defaultAddress" *ngIf="defaultAddress == addr.label"></ion-icon></div>{{ addr.address }}<p style="display:inline" *ngIf="addr.city">, </p><br/>{{ addr.city }}<p style="display:inline" *ngIf="addr.pincode">-</p>{{ addr.pincode }}</div>
            </ion-col>
            <ion-col justify-content-start col-4>
              <div class="address-buttons" *ngIf="defaultAddress != addr.label" (click)="setDefault(addr.label)">Set as Default</div>
              <div class="address-buttons" (click)="editAddressModal(addr)">Edit</div>
              <div class="address-buttons" (click)="confirmDelete(addr.label)">Delete</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button block (click)="save()" [disabled]="!personalUpdate.valid">Save</button>
          </ion-col>
          <ion-col>
            <button ion-button block (click)="cancel()">Cancel</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
</ion-content>
